<p> Name: <%=@movie[:name]%> </p>
<p> Director: <%=@movie[:director]%> </p>
<p> Year Released:<%=@movie[:year_released]%> </p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
